name: .NET Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [ Debug, Release ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore SampleApplication.sln

      - name: Build
        run: dotnet build SampleApplication.sln -c ${{ matrix.configuration }} --no-restore

      - name: Test
        run: dotnet test SampleApplication.Tests/SampleApplication.UnitTests/SampleApplication.UnitTests.csproj -c ${{ matrix.configuration }} --no-build --verbosity normal
